@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Zilla Slab', sans-serif;
    font-size: 18px;
}

nav {
    background-image: linear-gradient(rgb(214, 140, 211), rgb(255, 0, 0));
    color: white;
    padding: 16px 32px;
}

nav a:visited {
    color: #f7c2c2;
}

nav h1 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    padding: 0;
}

.about-me {
    font-size: 18px;
    
}

nav ul li {
    /* padding-right: 20px; */
}

nav ul li a {
    text-decoration: none;
}

.main-content {
    padding: 16px;
}

.main-content h2 {
    color: #c64242;
    text-decoration: underline;
}

.main-content p {
    color: #c64242;
}

.contact-me ul {
    list-style-type: none;
    padding: 0;
}

.contact-me ul li {
    margin-bottom: 10px;
}


@media (min-width: 768px){
    nav {
        display: flex;
        align-items: center;
    }

    nav h1 {
        width: 35%;
        margin: 0px;
        text-align: left;
    }

    nav ul {
        width: 65%;
        justify-content: flex-end;
    }

    nav ul li {
        padding-right: 25px;
    }

    .main-content {
        padding: 24px;
    }
}